<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="http://woolpert.com/wp-content/themes/woolpert/images/touch/apple-touch-icon.png">
	<title>Link Analysis</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="lib/bootstrap-paper.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	{{{_sections.head}}}
</head>
<body>
	{{{body}}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	{{{_sections.jquery}}}
</body>
</html>