{{#section 'head'}}
	<style>
		body {
			padding: 80px;
		}
		p {
			padding: 50px;
		}
	</style>
{{/section}}

<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-share-alt-square"></span> Link Analysis</h1>
		<p>A new way to analyze the relationships</p>
		<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Signup</a>
	</div>
</div>
